<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Narayana resources -->
    <Transaction factory="org.jboss.narayana.tomcat.jta.UserTransactionFactory"/>
    <Resource name="TransactionManager" type="javax.transaction.TransactionManager"
              factory="org.jboss.narayana.tomcat.jta.TransactionManagerFactory"/>
    <Resource name="TransactionSynchronizationRegistry" type="javax.transaction.TransactionSynchronizationRegistry"
              factory="org.jboss.narayana.tomcat.jta.TransactionSynchronizationRegistryFactory"/>
    
    <!--type="org.postgresql.xa.PGXADataSource"-->
    <!-- factory: org.apache.tomcat.jdbc.pool.DataSourceFactory on use whatever type - does not work or what :/ type="javax.sql.XADataSource" -->
       <!-- javax.naming.NamingException: java.sql.SQLException: java.sql.SQLException: failed to locate properties file -->
    <!-- new version of tomcat: org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory, knows only javax.sql.DataSource -->
    <!-- old version of tomcat: org.apache.commons.dbcp.BasicDataSourceFactory, knows only javax.sql.DataSource -->
    <!-- capable to playwith XA somehow: org.apache.tomcat.jdbc.pool.DataSourceFactory, knows javax.sql.XADataSource and javax.sql.DataSource-->
              
    <Resource name="transactionalDataSource" uniqueName="transactionalDataSource"
              factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory"
              type="javax.sql.DataSource"
              auth="Container"
              username="test" password="test"
              driverClassName="com.arjuna.ats.jdbc.TransactionalDriver"
              url="jdbc:arjuna:pg.resources"
              connectionProperties="DYNAMIC_CLASS=com.arjuna.ats.internal.jdbc.drivers.PropertyFileDynamicClass"
              description="Transactional Driver Data Source"/>
</Context>