<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Narayana resources -->
    <Transaction factory="org.jboss.narayana.tomcat.jta.UserTransactionFactory"/>
    <Resource name="TransactionManager" type="javax.transaction.TransactionManager"
              factory="org.jboss.narayana.tomcat.jta.TransactionManagerFactory"/>
    <Resource name="TransactionSynchronizationRegistry" type="javax.transaction.TransactionSynchronizationRegistry"
              factory="org.jboss.narayana.tomcat.jta.TransactionSynchronizationRegistryFactory"/>

    <!-- Database resources -->
    <Resource name="psqlDataSource" uniqueName="psqlDataSource" auth="Container"
      factory="org.postgresql.xa.PGXADataSourceFactory"
      type="org.postgresql.xa.PGXADataSource"
      serverName="localhost"
      portNumber="5432"
      databaseName="test"
      user="test"
      password="test"
      description="PostgreSQL XA Data Source"/>

    <Resource auth="Container"
      description="Pooled Data Source"
      name="pooledDataSource" uniqueName="pooledDataSource"
      defaultAutoCommit="false"
      factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
      type="javax.sql.XADataSource"
      dataSourceJNDI="psqlDataSource"/>


    <Resource name="transactionalDataSource" uniqueName="transactionalDataSource" auth="Container" type="javax.sql.DataSource"
      driverClassName="com.arjuna.ats.jdbc.TransactionalDriver"
      url="jdbc:arjuna:java:comp/env/pooledDataSource"
      description="Transactional Driver Data Source"
      connectionProperties="POOL_CONNECTIONS=false"/>

</Context>
