<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Narayana resources -->
    <Transaction factory="org.jboss.narayana.tomcat.jta.UserTransactionFactory"/>
    <Resource name="TransactionManager" type="javax.transaction.TransactionManager"
              factory="org.jboss.narayana.tomcat.jta.TransactionManagerFactory"/>
    <Resource name="TransactionSynchronizationRegistry" type="javax.transaction.TransactionSynchronizationRegistry"
              factory="org.jboss.narayana.tomcat.jta.TransactionSynchronizationRegistryFactory"/>

    <!-- Database resources -->
    <Resource name="psqlDataSource" uniqueName="psqlDataSource" auth="Container"
        factory="org.postgresql.xa.PGXADataSourceFactory"
        type="org.postgresql.xa.PGXADataSource"
        serverName="localhost"
        portNumber="5432"
        databaseName="test"
        user="test"
        password="test"
        loginTimeout="0"
        description="PostgreSQL XA Data Source"/>

    <Resource
        name="transactionalDataSource"
        uniqueName="transactionalDataSource"
        auth="Container"
        type="javax.sql.DataSource"
        transactionManager="TransactionManager"
        xaDataSource="psqlDataSource"
        initialSize="20"
        maxWaitMillis="15000"
        maxTotal="75"
        maxIdle="20"
        maxAge="120000"
        testOnBorrow="true"
        validationQuery="select 1"
        factory="org.jboss.narayana.tomcat.jta.TransactionalDataSourceFactory"/>

</Context>
